<?xml version="1.0" encoding="utf-8"?>
<plugin 
    xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    id="cordova-plugin-content-to-base64-converter" 
    version="0.0.1">
    
    <name>Content to Base64 converter Plugin</name>
    <description>
        This plugin provides service to convert Content to Base64-encoded string.
        This plugin uses native content chooser to pick the content.
        Maximum convertable content size is defined in MAX_CONTENT_SIZE 
    </description>
    <keywords>cordova,plugin,media,content,base64</keywords>

    <js-module src="www/contentToBase64Converter.js" name="ContentToBase64Converter">
        <clobbers target="contentToBase64Converter" />
    </js-module>

    <platform name="android">
        <!-- 
            Commons codec is needed for digest function used in tests
            Not needed in production
        -->
        <!--
        <framework src="commons-codec:commons-codec:1.2" /> 
        -->
        <config-file target="res/xml/config.xml" parent="/widget">        
            <feature name="ContentToBase64Converter">
                <param name="android-package" value="id.co.reston.cordova.plugins.ContentToBase64ConverterPlugin"/>
            </feature> 
        </config-file> 
        <source-file src="src/android/ContentToBase64ConverterPlugin.java" target-dir="src/id/co/reston/cordova/plugins"/> 
    </platform>

</plugin>
